body {

    background-image: url('ww.jpeg');
    position: cover;
    padding: 20px;

}

.weather_body {
    border: 9px solid rgb(64, 72, 77);
    border-radius: 50px;
    height: 450px;
    width: 540px;
    margin: 60px;
    margin-left: 250px;
    padding: 30px;
    background-color: rgb(156, 205, 248);
}


.container1 {
    text-align: center;
    margin-bottom: 60px;
}

.search_form {
    text-align: center;
    width: 250px;
}

.wrapper {
    align-items: center;
    position: relative;
    width: 250px;
}

.search_input {
    width: 100%;
    padding-left: 30px;
    background-color: rgb(141, 186, 238);
    height: 35px;
    border-radius: 10px;
    border: 2px solid rgb(66, 123, 158);
    cursor: text;

}

.search_icon {
    position: absolute;
    top: 35%;
    left: 10px;
    font-size: 16px;
}



.search_input:hover {
    font-size: 20px;
    background-color: rgb(110, 170, 238);
}


.weather_place {
    margin-top: 25px;
    font-size: 25px;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;

}

.date_time {
    margin-top: 10px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 3px;
}

.two {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 5px;


}

.weather_temperature {
    font-size: 22px;
}






.container2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    gap: 20px;





}

#box {
    border: 1px solid rgb(114, 173, 204);
    border-radius: 40px;
    height: 40px;
    text-align: center;
    padding-top: 10px;
}

#box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 20px;
    width: 160px;
}

#box i {
    font-size: 25px;

}


#box span {
    display: flex;
    flex-direction: column;
}